
{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!
      <table>
        <tr>
          <th>Today's Customers</th>
          <th><!-- Confirm Pickup --></th>
        </tr>
        {% for customer in todays_customers %}
        <tr>
          <td>{{customer.name}}</td>
          {% if customer.last_confirmed_pickup != today %}
          <td>
                <button type="button" disabled>Confirm Pickup</button>
          </td>
          {% else %}
          <td>
            <a href="{% url 'employees:confirmed_pickup' customer.id %}">
                <button>Confirm Pickup</button>
            </a>
          </td>
            {% endif %}
        </tr>
        {% endfor %}
      </table>
<br><br>
<p>Want to see which customers have a pickups scheduled on a specific day of the week? Please choose a day below:</p><a href="{%  url 'employees:daily' %}">here!!!!</a>

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}